extends layout

block body
    .hero-unit
        div(style="text-align: center; font-size: 200px; padding-bottom: 70px; padding-top: 30px")
            i(class="icon-bolt")
        h1(style="text-align: center;") Stránka nebyla nalezena
