extends layout

block body
  div.row
    div.centered(style="max-width: 900px; margin: auto")
      h2 O prAku
      p.cleared
        i(class="icon-4x pull-left icon-info-sign")
        | Projekt prAk, neboli programátorská akademie si klade za cíl vytvořit český internetový kurz programování jak pro naprosté začátečníky, tak pro pokročilé.

      p
        | Zdrojové kódy máme umístěné na 
        a(href="http://github.com/progma") <i class="icon-github"></i> githubu
        | . Nebojte se zapojit a pomoct :-).
        | TODO kontakt

      h3.cleared Kdo se na projektu podílel?
      p
        i(class="icon-4x pull-left icon-group")
        p Tomáš Jakl, Lukáš Lánský, David Marek a Jiří Maršík. Na koordinaci projektu se podílel Cyril Brom a Pavel Töpfer.
      p.cleared
        i(class="icon-4x pull-left icon-volume-up")
        p Eva Josefíková a Matěj Nechvátal, Ivo Kristián Kubák

      h3.cleared Technologie
      p.cleared
        i(class="icon-4x pull-left icon-cogs")
        p Používáme nejmodernější technologie. Z toho důvodu se Vám může stát, že naše stránky nebudou fungovat ve vašem prohlížeči.

      p.cleared
          i(class="icon-4x pull-left icon-sitemap")
          p Použité technologie. Stojíme na ramenou mnoha obrů: 
              a(href="http://nodejs.org/") Node.js
              , 
              a(href="http://jquery.com/") jQuery
              , 
              a(href="http://underscorejs.org/") Underscore.js
              , 
              a(href="http://www.schillmania.com/projects/soundmanager2/") SoundManager2
              , 
              a(href="http://raphaeljs.com/") Raphaël
              , 
              a(href="http://codemirror.net/") CodeMirror
              , 
              a(href="https://github.com/mrdoob/three.js/") THREE.js
              , 
              a(href="http://twitter.github.com/bootstrap/") Bootstrap
              , 
              a(href="http://esprima.org/") Esprima
              , 
              a(href="https://github.com/Constellation/escodegen") escodegen
              , 
              a(href="http://expressjs.com/") express
              , 
              a(href="http://www.mongodb.org/") mongoDB
              , 
              a(href="http://lesscss.org/") LESS
              |  a 
              a(href="http://disqus.com/") DISQUS
              .


