extends layout

block body
  div.row
    div.centered(style="max-width: 900px; margin: auto")
      h2 O projektu
      div.iconed
        i(class="icon-4x icon-info-sign")
        p
          | prAk, neboli <b>pr</b>ogramátorská <b>ak</b>ademie, si dává za cíl vytvořit
          | interaktivní kurz programování vhodný jak pro naprosté začátečníky, tak
          | pro lehce pokročilé programátory.
          
        p
          | Částečně se inspiruje úspěšnými zahraničními projekty jako
          | <a href="https://www.khanacademy.org/">Khan Academy</a> nebo <a href="https://www.coursera.org/">Coursera</a>,
          | ale dává si záležet na tom, aby nebyl pouhým překladem. Chceme pro studenty
          | vytvářet výuková <i>prostředí</i> doplněná slovem a úlohami, ne jim dávat
          | přednášky a domácí úkoly.

        p
          | Zdrojové kódy, na kterých projekt běží, jsou otevřené a dostupné na
          | <a href="http://github.com/progma">GitHubu</a>. Na pull requesty se vysloveně těšíme,
          | stejně tak vítáme nápady na kurzy, úlohy a opravy existujícího materiálu.
          | Napište do <a href="/diskuze">diskuze</a> nebo na mail 
          | <a href="mailto:prak-list@googlegroups.com">prak-list@googlegroups.com</a>.

      h3 Autoři
      div.iconed
        i(class="icon-4x icon-group")
        p
          | Tomáš Jakl, <a href="http://lukas.lansky.name">Lukáš Lánský</a>, David Marek a Jiří Maršík
          | jsou iniciátoři této snahy, programátoři a autoři zdejších kurzů a úloh.
        p
          | Na koordinaci vývoje placeného z <a href="http://ksvi.mff.cuni.cz/progma/">grantového
          | projektu Progma</a> se podílel <a href="http://ksvi.mff.cuni.cz/~brom/">Cyril Brom</a>
          | a <a href="http://ksvi.mff.cuni.cz/~topfer/">Pavel Töpfer</a>.
          | První dva kurzy namluvili studenti <a href="http://www.damu.cz/">DAMU</a> Eva Josefíková
          | a Matěj Nechvátal pod laskavým režijním vedením Iva Kristiána Kubáka.

      h3 Technologie
      div.iconed
        i(class="icon-4x icon-cogs")
        p
          | Používáme dosti čerstvé webové technologie a ačkoliv se snažíme zprovoznit je na všech
          | počítačích, tabletech a telefonech, ke kterým se dostaneme, nemusí to občas dopadnout dobře.
          | Nahlášením jakékoliv chyby na adresu <a href="mailto:prak-list@googlegroups.com">prak-list@googlegroups.com</a>
          | nám znatelně pomůžete.

        p Použité knihovny (děkujeme!): 
          a(href="http://nodejs.org/") Node.js
          , 
          a(href="http://jquery.com/") jQuery
          , 
          a(href="http://underscorejs.org/") Underscore.js
          , 
          a(href="http://www.schillmania.com/projects/soundmanager2/") SoundManager2
          , 
          a(href="http://raphaeljs.com/") Raphaël
          , 
          a(href="http://codemirror.net/") CodeMirror
          , 
          a(href="https://github.com/mrdoob/three.js/") THREE.js
          , 
          a(href="http://twitter.github.com/bootstrap/") Bootstrap
          , 
          a(href="http://esprima.org/") Esprima
          , 
          a(href="https://github.com/Constellation/escodegen") escodegen
          , 
          a(href="http://expressjs.com/") express
          , 
          a(href="http://www.mongodb.org/") mongoDB
          |  a
          a(href="http://lesscss.org/") LESS
          | . Další díky patří autorům systému <a href="http://disqus.com/">DISQUS</a>,
          | správcům cloudového řešení <a href="https://www.heroku.com/">Heroku</a>
          | (na němž jsme po část vývoje pracovali), programátorům <a href="https://github.com/">GitHubu</a>
          | a nesčetné řadě dalších služeb, bez nichž bychom neměli sílu vše dotáhnout do alespoň takového stavu,
          | který vidíte. Infrastruktura je důležitá.