extends layout

block body
  .hero-unit
    img(src='/images/strom.png', style='float: right')
    h1 Želva na stromě.
    p.
        Programování vystavuje světu nesčetně tváří a některé z nich jsou opravdu
        přístupné. Třeba želví grafika.
    p.
        Dostanete želvu se štětcem na břichu a budete jí psát příkazy, složitějí
        a složitější, až budete umět kreslit vcelku složité a zvláštní útvary a,
        jen tak mimochodem, docela dobře programovat.
    p
      a.btn.btn-primary.btn-large(href='course/turtle1', style='float:right') OK. Tak jak ji dostat na strom? &raquo;

  .row
    .span12
        h1 Až budete mít hotový hlavní kurz…

  .row
    .span6
      a(href="/course/fractal"): h2 Fraktály
      p.

    .span6
      a(href="/course/turtleGame"): h2 Želví gamesa
      p.
