extends layout

block body
  .hero-unit
    h1 Hello, world!
    p.
      This is a template for a simple marketing or informational website. It
      includes a large callout called the hero unit and three supporting pieces
      of content. Use it as a starting point to create something more unique.
    p
      a.btn.btn-primary.btn-large Learn more &raquo;

  .row
    .span12
      h1 Dostupne kurzy

  .row
    .span4
      a(href="/lecture"): h2 Daveuv cervnovy mockup
      p.
        (DČM) demonstrující vkládání videa, editoru a SVG canvasu a interakce
        mezi těmito.

    .span4
      a(href="/lukas"): h2 Lukasuv pozdne cervencovy mockup
      p.
        (LPČM) nadhazující především design lekce.

    .span4
      h2 Zaklady javascriptu s grafikou
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        tempus, diam ac fermentum placerat, felis risus ultrices turpis,
        vitae tempor leo sem sit amet lacus. Curabitur quis nunc lorem.
        Aenean vitae lectus diam. Duis lobortis ante quis felis viverra
        egestas. Proin vel purus ante. Nulla aliquam condimentum tortor,
        adipiscing eleifend metus fringilla sit amet. Donec at purus enim,
        eget consequat risus.
