extends layout

block body
  section#login
    .page-header
      h1 Login
    .row
      .span4.offset3
        form.well(action="/login", method="post")
          fieldset
            .control-group
              label.control-label(for="username") E-mail:
              .controls
                input(style="height: 35px; box-sizing:border-box; width: 100%;", type="text", name="username", placeholder="email")
            .control-group
              label.control-label(for="password") Password:
              .controls
                input(style="height: 35px; box-sizing:border-box; width: 100%;", type="password", name="password", placeholder="password")
            .control-group
              .controls
                button.btn.btn-large.btn-primary(type="submit") Submit
                a.btn.btn-large.pull-right(href="/register") Create new account
