extends layout

block body
  h1 Lukášův pozdně červencový mockup: JavaScriptová knihovna pro interaktivní výklad
  p.
    Představuju vám LPČM. Nemusíte spěchat s názorem, spíš si to nechte prohnat
    hlavou. Nuže:
  p (Ovládejte šipkami, prosím.)

  .slides(slidedata="zelva")

  :markdown
    **Koncept**: Na serveru sedí okénka: texty, videa, zvuky a doprovodné
    JS knihovny. Tahle obecná knihovna dostane v JSONu popis jejich pořadí
    a případných dalších vlastností a pak je prostě jen zobrazuje v
    předhozeném DIVu. Teda, _prostě_... okénka prezentací prostě zobrazí,
    pokud jsou v HTML. Pokud bychom chtěli, aby uměla Markdown, může být.
    Video zobrazí přes vhodný plugin, stejně tak na editor kódu použije
    vnější řešení, kterému akorát doplní výchozí zdroják a připraví akce
    pro čudlík "Run".
  p.
    Tahle knihovna je teda tenká vrstva, která se stará o prezentaci a která
    je přes svůj silný koncept hodně rozšiřitelná ve smyslu "hej, co tam
    takhle přidat podporu pro okénko typu Sage"? (Což není zvlášť těžký a
    přitom to určitě upoutá pozornost lidí, co by s tím nechtěli učit
    programování, ale třeba teorii grafů.)

  p Myslím si, že je to pěkný, protože je to zároveň
    ul
      li.
        jednoduchý a názorný, (člověk vidí lekci vcelku; ví, kde je a že se
        může snadno vrátit k předchozím textům)
      li.
        a flexibilní. Můžeme upoutat pozornost návštěvníka jedním důležitým
        slajdem, nebo mu připravit pracovní prostor pro programování s
        editorem kódu a plochou pro kreslení. Stejně tak můžeme vedle videa
        s přednáškou střílet události, které k ní ukazují ilustrace.

  p Zároveň nám to dělá pořádek v práci. Pokud se vám tahle věc líbí, je
    naším úkolem

    ul
      li.
        Dopsat ji. (A vymyslet jméno, nějaké velmi english-friendly.)
      li.
        Udělat web pro kurz programování, který bude přehledně zobrazovat
        hromadu lekcí v tomhle formátu, sledovat pokroky lidí, dělat
        fórum...
      li.
        No a udělat ten kurz.

  p
    b FAQ:

    ul
      li
        b Nevypadá to chytlavě.
        :markdown
          Spíchnul jsem to za odpoledne. Myslím, že to hezké být může - nabízí
          se efekt odlétnutí starého okna (starých oken) doleva a přilétnutí
          nového (nových) z prava. Ikonky budou moct dobře indikovat stav
          průchodu. Určitě jste zkoumali, jestli na ně nejde klikat. Určitě by
          mělo jít, stejně tak by měly nějak dobře po najetí myší ukazovat, co
          to pod nimi je. Velmi hezké by mohlo být, kdyby toto ukazování
          probíhalo tak, že by se v dolním DIVu míhaly celé obrazovky, trochu
          zašedlé.
      li
        b Hm, takže to je mnohonásobně embedovatelné do běžného textu stránky?
        :markdown
          Ano. Netuším, jak užitečné to může být, to se uvidí.
      li
        b Uvidí?
        :markdown
          Jak to je, je to dost univerzální projekt, "JavaScriptová knihovna
          pro interaktivní výklad". Trošku se to blíží prezentačním knihovnám
          [Impress.js](http://bartaz.github.com/impress.js/), ale cíl je
          natolik jiný, že to stojí za vlastní projekt. Kupříkladu, do
          impess.js nikoho nenapadne dělat to rozšíření pro Sage, v tomhle
          kontextu to ale dává hodně smyslu. Vlevo zadání: "najdi 3-regulární,
          2-hranově-spojitý graf", vpravo Sage a skript, co čeká na korektní
          výsledek.
      li
        b Nebude to těžké?
        :markdown
          Je fakt, že používám jen jQuery a RaphaelJs, což je trochu v rozporu
          s tím, že jsme chtěli strašně moc outsourcovat. Ale když se
          podíváte, kolik práce zbývá tomuhle mockupu k dodělání, tak asi
          shledáte, že to těžké není. Co by mohlo zabrat neúměrně hodně práce
          jsou user-friendly nástroje pro authoring, přípravu těch podkladů
          pro tenkou knihovnu. Hádám, že je uděláme "na koleně".

block styles
  link(href="stylesheets/stylopis.css", rel="stylesheet")

block scripts
  script(src="javascripts/noNameLib.js")
