extends layout

block body
  section#Registration
    .page-header
      h1 Registration
    .row
      .span4.offset3
        form.well(action="/register", method="post")
          fieldset
            .control-group
              label.control-label(for="username") E-mail:
              .controls
                input(type="text", name="username", placeholder="email")
            .control-group
              label.control-label(for="password") Password:
              .controls
                input(type="password", name="password", placeholder="password")
            .control-group
              button.btn.btn-primary(type="submit") Submit
