body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#editor {
  position: relative;
  width: 100%;
  height: 315px;
}

.login {
  color: white !important;
  margin: 5px !important;
}

.login:hover {
  color: white !important;
  text-decoration: none;
}
