body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body { padding-top: 0; }
}

.btn {
  box-sizing: border-box;
}

a.btn-primary {
  color:white;
}

.login {
  margin-top: 5px;
  margin-right: 5px;
}

.login:hover {
  color: white;
}
